*{
    padding: 0;
    font-family: roboto, sans-serif;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,57,116,1) 100%, rgba(0,212,255,1) 100%);
}

.mainContent h1{
    margin: 40px 20px;
}

.mainContent{   
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    background-color: #2A0944;
    flex-direction: column;
    color: white;
    border-radius: 10px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content input{
    padding: 3px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
}